package pages

import "github.com/ruhollahh/paperback/web/views/components"

templ Home() {
	<html lang="fa">
		<head>
			<title>پیپربک</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link href="/static/styles/main.css" rel="stylesheet"/>
			<script type="module" src="/static/dist/main.js"></script>
		</head>
		<body>
			<div>
				@components.Cart()
				@components.Other()
			</div>
		</body>
	</html>
}
